// SearchArea SCSS styles
#search-text-field {
    position: absolute;
    max-width: 1000px;
    width: 100vw;
    background: white;
    top: 0px;
    left: 0px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-sizing: border-box;
    text-align: center;

    .search-bar-and-button {
        display: flex;
        width: 100%;
        .search-bar,
        .search-button {
            display: inline-block;
            height: 30px;
            margin: 0px 3px;
        }

        .search-bar {
            width: 100%;

            input {
                background:#f6f7fb;
                outline:none;
                border: none;
                padding:1px;
                padding-left:5px;
                box-sizing: border-box;
                width: 100%;
                height: 30px;
                border-radius: 10px;
                font-weight: bold;
                color: black;
                &::placeholder {
                    color: black;
                }
            }
        }
    }

}


#search-result-area {
    width: 100%;
    height: 1000px;
    top: 0px;
    left: 0px;
    padding-top: 60px;
    background:#f6f7fb;
    position: absolute;
    border-top: 1px solid gray;
    .result{
        width:100%;
        height:100%;
        border-top: 3px solid gray;
    }
}