// OtherNews scss
#other-news {
    .child-other-news {
        position: relative;
        background-color: #F2F2F2;
        width: 100%;
        left: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        ul {
            margin: 2em 2em;

            @media only screen and (min-width: 1021px) {
                overflow: hidden;
                align-items: center;
            }

            li {
                margin: 20px 0px;
                width: 100%;
                background: white;
                border-radius: 20px;
                height: 220px;
                overflow: hidden;
                box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.486);

                @media only screen and (max-width: 600px) {
                    height: auto;
                }

                @media only screen and (min-width: 1021px) {
                    float: left;
                    margin: 20px;
                    width: 433px;
                }

                article {
                    display: flex;
                    justify-content: space-around;
                    height: 100%;
                    padding: 10px;
                    position: relative;

                    @media only screen and (max-width: 600px) {
                        flex-direction: column;
                    }

                    .side {
                        flex: 1;
                        padding-bottom: 21px;

                        .content {
                            padding: 10px;

                            .description {
                                font-size: small;
                                color: #434343;
                            }

                            .time {
                                font-size: x-small;
                                color: #999898;
                            }
                        }
                    }

                    .image-container {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;
                        border-radius: 20px;
                        margin-bottom: 10px;

                        div {}

                        // img {
                        //     width: auto !important;
                        //     position: absolute !important;
                        //     height: 100% !important;
                        //     top: 50% !important;
                        //     left: 50% !important;
                        //     transform: translate(-50%, -50%) !important;
                        // }
                    }
                }
            }
        }
    }
}