#trending-slider {
   width: 90%;
   display: inline;
   position: relative;

   .card-item {
      background: gray;
      width: 18vw;
      height: 18vw;

      @media only screen and (max-width: 900px) {
         width: 31vw;
         height: 21vw;

      }

      @media only screen and (max-width: 700px) {
         width: 45vw;
         height: 40vw;
      }

      @media only screen and (max-width: 470px) {
         width: 40vw;
         height: 40vw;

      }



      border-radius: 15px;
      overflow: hidden;
      position: relative;

      .image-container {
         width: 100%;
         height: 100%;
         position: absolute;
         transition: 0.5s ease all;

         div {
            width: 100%;
            height: 100%;
            padding: 0 !important;
            margin: 0 !important;
         }

         img {
            width: auto !important;
            position: relative;
            height: 100% !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;

         }
      }

      &:hover {

         .image-container {

            div {
               transition: 0.5s ease;
               height: 105% !important;
            }

         }
      }

      .info {
         position: relative;
         z-index: 2;
         font-weight: bold;
         bottom: 0;
         color: white;
         width: 100%;
         height: 100%;
         background: rgb(0, 0, 0);
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.7540229885057471) 25%, rgba(0, 0, 0, 0) 100%);

         .info-container {
            position: absolute;
            bottom: 10px;
            padding: 10px;

            .news-title {
               font-size: 0.8em;
               letter-spacing: 0px;
               margin: 0px;
               padding: 0px;
               // @media only screen and (max-width: 750px) {
               //    font-size: 0.7em;
             
               // }

               @media only screen and (max-width: 450px) {
                  font-size: 0.6em!important;
                
               }

            }
         }

         .time {
            font-size: x-small;

            @media only screen and (max-width: 750px) {
               font-size: xx-small;

            }
         }
      }
   }
}