.news-container {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {

        .for-width {

            img {
                transition: 0.5s ease all !important;
                width: 120% !important;
            }
        }
        .for-height {

            img {
                transition: 0.5s ease all !important;
                height: 120% !important;
            }
        }
    }

    .image-container,
    .content-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .content-container {
        z-index: 2;
    }

    .image-container {
        z-index: 1;

        div {
            height: 100% !important;
            // background: #666666 !important;
        }

        div,
        img {
            border-radius: 15px!important;
            background: transparent!important;
            padding: 0px !important;
            margin: 0px !important;
        }

        img {
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    }

    .content-container {
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7540229885057471) 25%, rgba(0, 0, 0, 0) 100%);

        .content {
            position: absolute;
            bottom: 0;
            padding: 10px;
            color: white;
            h5{
                color: white;
                font-weight: bolder;
                text-shadow: 0px 0px 10px black;
            }
            p {
                font-size: x-small;
                margin-top: 5px;
                color: white;
            }
        }
    }

    .for-width {
        img {
            width: 100% !important;
            height: auto !important;
        }
    }

    .for-height {

        img {
            width: auto !important;
            height: 100% !important;

        }
    }
}