// Catagories SCSS
#slider{
    width: 90%;
    display: block;
    
   
    .slider-item{
        .title{
            color: gray;
            text-align: center;
            font-size: small;
            font-weight: bolder;
        }
        &:hover{
            .title{
                transition:0.5s ease all;
                color: black;

            }
        }
    }
}