// ANews SCSS
#main-news {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    .expand {
        width: 100%;

        .image-side {
            width: 100%;
            height: 350px;
            position: relative;

            .news-container {

                position: absolute;
            }
        }

        .curtain {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6674019949776786) 83%);
        }

        .news-content-side {
            width: 100%;
            position: relative;

            .to-top {
                position: relative;
                width: 100%;
                height: 100%;
                background: white;
                top: -40px;
                border-top-left-radius: 40px;
                z-index: 3;
                border-top-right-radius: 40px;

                .to-expand {
                    width: 100%;
                    height: auto;
                    position: relative;
                    padding: 29px;
                    box-sizing: border-box;

                    p {
                        font-size: small;
                    }

                }

            }
        }
    }
}

#a-news {
    .zIndex {
        z-index: 3;
        position: relative;
    }


}

#social-media-for-a-post {
    .socials {
        width: 100%;
        overflow: hidden;

        * {
            color: white;
            fill: white;
        }

        .social {
            cursor: pointer;
            width: 129px;
            float: left;
            margin: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;

            .the-text {
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .icon {
                padding: 0px !important;
                margin: 0px !important;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                text-align: center;

                svg {
                    height: 100%;
                    padding: 0px !important;
                    margin: 0px !important;
                }
            }


        }

        .facebook {
            background: #3B5998;
        }

        .twitter {
            background: #00ACED;
        }

        .instagram {
            background: rgb(243, 17, 32);
            background: linear-gradient(45deg, rgba(243, 17, 32, 1) 0%, rgba(196, 0, 151, 1) 100%);
        }
    }
}

#a-news-content {
    img {
        width: 100% !important;
        height: auto !important;
        max-width: 572px;
    }
}