$blue:#2300A7;
$orange:#CB822E;

#authors-slider {
    width: 90%;
    padding: 20px 0px 0px 0px;
    position: relative;
    display: inline;

    .author {
        background: $blue;

       

        @media only screen and (max-width: 600px) {
            max-width: 70vw;

        }
        @media only screen and (min-width: 450px) {
            max-width: 45vw ;

        }
        @media only screen and (min-width: 900px) {
            max-width: 30vw ;

        }


        border-radius: 10px;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
        margin-top: 20px;

        span {
            position: relative;
            display: flex;
            align-self: stretch;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            padding: 0px 5px;

            h5 {
                line-height: 1.3;
            }

            p {
                font-size: x-small;
                color: #D9CBFF;
                margin: 5px 0px;
            }

            color: white;
        }

        .profile-photo {
            position: relative;
            width: 65px;
            padding: 0px;
            margin: 0px;
            float: left;
        }
    }
}