// ACatagory SCSS
.catagory-news {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;

    .containter {
        width: 100%;
        height: 100%;
        position: relative;

        .image-container,
        .content-container {
            width: 100%;
            height: 100%;
            position: absolute;
            color: white;

            img {
                height: auto !important;
                width: 100% !important;
                position: absolute !important;
                top: 50% !important;
                left: 50% !important;
                transform: translate(-50%, -50%) !important;

            }
        }

        .image-container {
            height: 100% !important;
            padding: 0 !important;
            margin: 0 !important;

            div {
                height: 100% !important;
                padding: 0 !important;
                margin: 0 !important;
            }
        }

        .content-container {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7540229885057471) 25%, rgba(0, 0, 0, 0) 100%);

            .content {
                bottom: 0;
                position: absolute;
                padding: 10px;

                p {
                    margin-top: 1em;
                    font-size: x-small;
                }
            }
        }

    }
}

#second-news {
    border-radius: 15px;
    overflow: hidden;
    height: 200px;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .side {
            align-items: stretch;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
        }

        .left {
            margin-right: 5px;
        }

        .right {
            margin-left: 10px;
            display: flex;
            justify-content: space-between;
            height: 100%;
            flex-direction: column;

            .right-side {
                height: 100%;
                border-radius: 15px;
                overflow: hidden;
            }

            .top {
                margin-bottom: 5px;
            }

            .bottom {
                margin-top: 5px;

            }

        }
    }
}

#responsive-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .catagory-news {
        width: 45%;
    }

    #second-news {
        width: 45%;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;

        .catagory-news {
            width: 100%;
        }

        #second-news {
            margin-top: 20px;
            width: 100%;
        }
    }

    @media only screen and (min-width: 600px) {
        .catagory-news {
            height: 200px;
        }
    }


}
#second-responsive-div {
    .catagory-news {
        margin-top: 30px;
    }
}
@media only screen and (min-width: 1100px) {
    #second-responsive-div {
        display: flex;
        justify-content: space-around;

        #responsive-div {
            width: 100%;
        }

        .catagory-news {
            width: 50%;
            height: 200px;
            margin-top: 0px!important;
        }

    }


}