* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

#app {
    padding: 0px 15px;
}

.display-inline-block {
    display: inline-block !important;
}

.slick-arrow {
    display: none !important;
}

.slick-slide {
    * {
        outline: none !important;
    }
}

.my-node-enter {
    opacity: 0;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 1s;
}

.hidden{
    overflow: hidden;
}
.white {
    fill: white!important;
    color: white!important;
    text-shadow: 1px 1px 10px black;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
.ant-notification-topRight{
    z-index: 2000!important;
}