// DRAWER SCSS
#drawer {
    .MuiDrawer-paper {
        padding: 1em;
        max-width: 1000px;
        width: 100vw;
        overflow: auto;
        h3{
            color: gray;
        }
        p{
            color: gray;
        }
    }

    .logo-container {
        width: 30vw;

        @media only screen and (min-width: 700px) {
            width: 15vw;

        }

        @media only screen and (min-width: 1000px) {
            width: 10vw;

        }
    }

    #transparent-close-container {
        max-width: 1000px;
        width: 100vw;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 26%, rgba(255, 255, 255, 0.4713235636051295) 100%);
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0;
        height: 16vh;
        max-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            cursor: pointer;
            width: 3em;
            height: 3em;
            background: gray;
            outline: none;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            fill: white;
            font-weight: bold;
            font-size: large;
        }
    }

}