#trending-slider{
   width: 90%;
   display: inline;
   position: relative;
   .card-item{
      background: gray;
      width: 27vw;
      height: 28vw;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      .image-container{
         width: 100%;
         height: 100%;
         position: absolute;
         div{
            width:100%;
            height:100%;
            padding: 0!important;
            margin: 0!important;
         }
         img{
            width:auto!important;
            position: relative;
            height:100%!important;
            top: 50%!important;
            left: 50%!important;
            transform: translate(-50%,-50%)!important;

         }
      }.info{
         position: relative;
         z-index: 2;
         font-weight: bold;
         bottom: 0;
         color: white;
         width: 100%;
         height: 100%;
         background: rgb(0,0,0);
         background: linear-gradient(0deg, rgba(0,0,0,0.7540229885057471) 25%, rgba(0,0,0,0) 100%);
         .info-container{
            position: absolute;
            bottom: 10px;
            padding: 10px;
            .news-title{
               font-size: 0.8em;
            }
         }
         .time{
            font-size: x-small;
         }
      }
   }
}